.nav {
  background-color: red;
}

/* Never use a selector element by itself, always use some form of the component with it like below */
.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* use the :global part because css modules will add random string to classname and so without it, it wont add this class */
.nav :global(.active) {
  background-color: green;
}
